<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #191970; color: whitesmoke;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLinkActive="active" routerLink="/master">Master</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/employee">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="'/client'">Clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="'/client-project'">Projects</a>
        </li>
      </ul>
      <form class="d-flex">
        <button class="btn btn-outline-primary" (click)="logOut()" type="submit">Log Out</button>
      </form>
    </div>
  </div>
</nav>


<div class="row pt-2 d-flex justify-content-center">
    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
</div>