<!-- <app-alert [alertType]="'Error'" [message]="'Welcome to Client page!'"></app-alert> -->
<div class="row">
    <div class="col-12 col-md-8 col-md-6">
        <div class="card">
            <div class="card-header py-2" style="color: white; background-color: #66041b ;">
                Client List - {{currentData | date: 'dd-MMM-yyyy'}}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <th>Sr No</th>
                                <th>Client Name</th>
                                <th>Email</th>
                                <th>Contact Number</th>
                                <th>Address</th>
                                <th>Actions</th>
                            </thead>
                            <tbody>
                               @for (item of ClientList; track $index) {
                                    <tr>
                                        <td>{{$index + 1}}</td>
                                        <td>{{item.name | uppercase}}</td>
                                        <td>{{item.email}}</td>
                                        <td>{{item.phone}}</td>
                                        <td>{{item.address}}</td>
                                        <td>
                                            <button (click)="onEdit(item)" class="btn btn-primary">Edit</button>
                                            <!-- &nbsp; -->
                                            <button (click)="onDelete(item.clientId)" class="btn btn-danger">Delete</button>
                                        </td>
                                    </tr>
                               }
                            </tbody>
                        </table>
                    </div>
                </div> 
                
                
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-header" style="color: white; background-color: #66041b;">
                New Client
            </div>
            <div class="card-body">
                <form #form="ngForm">
                    <div class="row">
                        <div class="col-6">
                            <label for="">Person Name</label>
                            <input type="text" #personName="ngModel" required minlength="5" name="name" [(ngModel)]="clientObj.name" class="form-control">
                            <div class="text-danger">
                                @if(personName.touched){
                                    @if(personName?.errors?.['required']){
                                        <span>This is Required</span>
                                    }
                                    @if(personName?.errors?.['minlength']){
                                        <span>At least 5 chars Required</span>
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="">Email</label>
                            <input type="text" name="email" [(ngModel)]="clientObj.email" class="form-control" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Contact Number</label>
                            <input type="text" name="phone" [(ngModel)]="clientObj.phone" class="form-control" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">City</label>
                            <input type="text" name="address" [(ngModel)]="clientObj.address" class="form-control" class="form-control">
                        </div>
                    </div>
    
                    <div class="row pt-2">
                        <div class="col-6 text-center">
                            <button (click)="Reset()" class="btn btn-secondary">Reset</button>
                        </div>
                        <div class="col-6 text-center">
                            <app-my-button (onBtnClicked)="onSaveClient()" [btnClass]="'btn btn-success'" [btnText]="clientObj.clientId != 0?'Update Client':'Save Client'"></app-my-button>

                            <!-- <button (click)="onSaveClient()" class="btn btn-success"
                                [disabled]="!form.valid">
                                {{clientObj.clientId != 0?'Update Client':'Save Client'}}
                            </button> -->
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>