 <div class="row pb-2 pt-4">
     <div class="col-4" >
         <button
            (click)="onAddRole()" 
            style="color: whitesmoke; background-color: #657786; border-radius: 5px; width: 100%; padding: 7px;">
            Add New Role Name
         </button>
     </div>
    <div class="col-8">
        <input type="text" [(ngModel)]="newRole" style="border-radius: 5px; width: 100%; padding: 7px;">
    </div>
 </div>
 
 <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header" style="color: whitesmoke; background-color: #657786;">
                Roles List
            </div>
            <div class="card-body table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <th>Sr num</th>
                        <th>Role Name</th>
                    </thead>
                    <tbody>
                        @for (item of roleList; track item; let  i = $index) {    
                            <tr>
                                <td>{{i + 1}}</td>
                                <td>{{item.name}}</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> 








<!-- 

 <div class="row">
    <div class="col-4">
        <ul>
            <li *ngFor="let item of roleList">
                {{item.role}}
            </li>
        </ul>
    </div>
    <div class="col-4">
        <select>
            <option *ngFor="let role of roleList" [value]="role.roleId">
                {{role.role}}
             </option>
        </select>
    </div>
    <div class="col-4">
        <button class="btn btn-warning mx-2" *ngFor="let role of roleList" [value]="role.roleId">
            {{role.role}}
        </button>
    </div>
</div>  -->