:host {
    display: block;
    height: 100vh; /* Full viewport height */
    /* background-color: #f6f5f3;  */
    background-color: #f9f8fd;

  }


  /* background-color: #ebf6f5;  */
  /* background-color: #e4decd;  */