/* .divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
} */

*{
    padding: 0;
}
#make-shadow {
    box-shadow: 0px 2px 5px rgba(27, 45, 165, 0.8); /* Initial white shadow */
    transition: box-shadow 0.3s ease-in-out; /* Smooth transition for shadow change */
  }
  
  #make-shadow:hover {
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.8);
  }
   