<section class="pt-5" style="height: 100vh; background-color: #191970;">
  <div class="container-fluid h-100">
    <div  class="row d-flex justify-content-center align-items-center h-100">
      
      <h1 class="col-8 col-lg-4 col-xl-4 " style=" color: #e7e3f9;">Employee System</h1>
      <div id="make-shadow" class="col-8 col-lg-4 col-xl-4 " style="border-radius: 10px;">
        <div class="card shadow-lg" style="width: 100%; background-color: #e7e3f9;">
          <div class="card-body p-5" style="width: 100%;">
            <div  class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
              <h3 class="lead fw-normal mb-4 text-center">Sign In</h3>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" [(ngModel)]="loginObj.email" name="email" id="form3Example3" class="form-control form-control-lg" placeholder="Enter a valid email address" required />
              <label class="form-label" for="form3Example3">Email address</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" [(ngModel)]="loginObj.password" name="password" id="form3Example4" class="form-control form-control-lg" placeholder="Enter password" required />
              <label class="form-label" for="form3Example4">Password</label>
            </div>

            <div class="text-center text-lg-start mt-4 pt-2">
              <button (click)="onLogin()" type="button" class="py-3 px-4 btn btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem; color: #e7e3f9;; background-color: #191970;">
                Login
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
