
<div class="row">
    @if (isLoader == true) {
        <div class="col-12 text-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    }@else {
        <div class="row pb-2 pt-4">
            <div class="col-4" >
                <button
                   (click)="onAddDesignation()" 
                   style="color: whitesmoke; background-color: #2b2d42 ; border-radius: 5px; width: 100%; padding: 7px;">
                   Add New Designation Name
                </button>
            </div>
           <div class="col-8">
               <input type="text" [(ngModel)]="newDesignation" style="border-radius: 5px; width: 100%; padding: 7px;">
           </div>
        </div>
        
        <div class="row">
           <div class="col-12">
               <div class="card">
                   <div class="card-header" style="color: whitesmoke; background-color: #2b2d42 ;">
                       Designation List
                   </div>
                   <div class="card-body table-responsive">
                       <table class="table table-bordered">
                           <thead>
                               <th>Sr num</th>
                               <th>Designation Name</th>
                           </thead>
                           <tbody>
                               @for (item of designationList; track item; let  i = $index) {    
                                   <tr>
                                       <td>{{i + 1}}</td>
                                       <td>{{item.name}}</td>
                                   </tr>
                               }
                           </tbody>
                       </table>
                   </div>
               </div>
           </div>
       </div> 
       
    }
</div>