<!-- <app-alert [alertType]="'Success'" [message]="'Hi from Project Page!'"></app-alert> -->
<div class="row">
    <div class="col-12 col-md-8 col-md-6">
        <div class="card">
            <div class="card-header py-2" style="color: white; background-color: #6d597a ;">
                Project List
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <th>Sr No</th>
                                <th>Project Name</th>
                                <th>Perject Cost</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Lead By</th>
                                <th>Client Name</th>
                                <th>Actions</th>
                            </thead>
                            <tbody>
                                @for (item of projectList; track $index) {
                                    <tr>
                                        <td>{{$index + 1}}</td>
                                        <td>{{item.name}}</td>
                                        <td>{{item.budget}}</td>
                                        <td>{{item.startDate | date}}</td>
                                        <td>{{item.endDate |date}}</td>
                                        <td>{{item.leader}}</td>
                                        <td>{{item.client}}</td>
                                        <td>
                                            <button (click)="onEdit(item)" class="btn btn-primary">Edit</button>
                                            <button (click)="onDelete(item.projectId)" class="btn btn-danger">Delete</button>
                                        </td>
                                    </tr>
                               } 
                            </tbody>
                        </table>
                    </div>
                </div> 
                
                
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-header " style="color: white; background-color: #6d597a ;">
                New Project
            </div>
            <div class="card-body">
                <form #form = "ngForm">
                    <div class="row">
                        <div class="col-6">
                            <label for="">Project Name</label>
                            <input type="text" [(ngModel)]="projectObj.name"  name="name" class="form-control">
                           
                        </div>
                        <div class="col-6">
                            <label for="">Start Date</label>
                            <input type="date" [(ngModel)]="projectObj.startDate" name="startDate" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">End Date</label>
                            <input type="date" [(ngModel)]="projectObj.endDate" name="endDate" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Status</label>
                            <input type="text" [(ngModel)]="projectObj.status" name="status" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Project Costing</label>
                            <input type="number" [(ngModel)]="projectObj.budget" name="budget" class="form-control">
                        </div>
                        <div class="col-6" style="width: 100%; max-width: 600px; margin: 0 auto;">
                            <label for="">Project Description</label>
                            <textarea style="width: 100%;" type="text" [(ngModel)]="projectObj.description" name="description" class="form-control" ></textarea>
                        </div>
                        <div class="col-6">
                            <label for="">Select Client</label>
                            <select name="clientId" [(ngModel)]="projectObj.clientId" class="form-control" >
                                <option value="">Select Client</option>
                                @for (item of clientList; track $index) {
                                    <option [value]="item.clientId">{{item.name}}</option>
                                }
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="">Lead By</label>
                            <select name="leaderId" [(ngModel)]="projectObj.leaderId" class="form-control" >
                                <option value="">Select Employee</option>
                                @for (item of employeeList; track $index) {
                                    <option [value]="item.employeeId">{{item.name}}</option>
                                }
                            </select>
                        </div>
                    </div>
    
                    <div class="row pt-2">
                        <div class="col-6 text-center">
                            <button (click)="Reset()" class="btn btn-secondary">Reset</button>
                        </div>
                        <div class="col-6 text-center">
                            <button (click)="onSaveProject()" class="btn btn-success"
                            >
                                Save Project
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>