<div class="container" >
    <div class="row pt-2">
        <div class="col-12 text-center">
            <div class="btn-group" role="group" >
                <button type="button" class="btn"
                    (click)="changeTab('Roles')"
                    [ngClass]="currentComponent == 'Roles' ? 'selectedBtn':'btn-outline-primary'">
                    Roles
                </button>
                <button type="button" class="btn"
                    (click)="changeTab('Designation')"
                    [ngClass]="currentComponent == 'Designation' ? 'selectedBtn':'btn-outline-primary'">
                    Designation
                </button>
              </div>
            
        </div>
    </div>
    
    <!-- /////////////////////////////////////////////////////////////// -->
    
    <div class="row pt-2 d-flex justify-content-center" >
        <div class="col-10" *ngIf="currentComponent == 'Roles'">
            <app-roles></app-roles>
        </div>
        <div class="col-10" *ngIf="currentComponent == 'Designation'">
            <app-designation></app-designation>
        </div>
    </div>
</div>